textarea.message-entry {
    resize: none;
}

.messages-window, .users-window  {
    max-height: 550px;
    height: 550px;

}
.username-self {
    color: #05c3ff;
} 
.username-self::after {
    content: "(self)";
}