<div class="chat-window col-md-8 panel panel-default">
    <div class="row">
        <div class="users-window well col-md-3 panel-content">
            <h3>Users</h3>
            <ul class="nav">
                <li>User1</li>
                <li>User2</li>
            </ul>
        </div>
        <div class="messages-window col-md-9 panel-content">
            <h3>Chat window</h3>
            {{test}}
        </div>
    </div>
    <div class="row panel-footer">
        <message-entry></message-entry>
    </div>
    
</div>