<div class="chat-window col-md-8 panel panel-default">
    <div class="row">
        <div class="users-window well col-md-3">
            <h3>Users</h3>
            <ul class="nav">
                <li>User1</li>
                <li>User2</li>
            </ul>
        </div>
        <div class="messages-window col-md-9">
            <h3>Chat window</h3>
            {{test}}
        </div>
    </div>
    <div class="row panel-footer">
        <form>
            <div class="form-group">
                <textarea rows="2" cols="60" name="message-entry" class="message-entry form-control"></textarea>
            </div>
            <input type="submit" value="chat" class="btn btn-primary">
        </form>
    </div>
    
</div>